html, body {
    height: 100%; /*we need the height to be 100% to make sure the footer is not half way up the screen when page doesn't occupy the whole available space*/
}

.article-title {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

p {
    overflow: hidden;
    max-width: 80ch;
    text-align: justify;
    margin: 0;
}

.text-container {
    width: 100%;
    max-width: calc(100vw - 80px);
    max-width: 80ch;
    margin: 0 auto;
    flex-grow: 1;
}

.contents-container {
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 80ch;
}

.back-to-top {
    position: fixed;
    bottom: 120px;
    right: 100px;
}
